mat-toolbar{
    display: flex;
    justify-content: space-between ;
    height: 50px;
    flex-wrap: nowrap;
    overflow: auto;
}



@media (max-width: 500px){
    .button-label {
        display: none;
    }
}