<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<div class="container">
  <div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><strong>{{ product.name }}</strong></div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 product_img">
              <img [src]="product.image" class="img-responsive" />
            </div>
            <div class="col-md-8 product_content">
              <p><strong>Réf:</strong> {{ product._id }}</p>
              <p><strong>Description:</strong><br>{{ product.description }}<p>
              <p><strong>Prix:</strong> {{ product.price }} €</p>
              <p><strong>Spécifications:</strong></p>
              <div class="space-ten"></div>
              <div>
                <button (click)="addToCart()" mat-raised-button color="warn">
                  <mat-icon>shopping_cart</mat-icon>
                  <span>Ajouter au panier</span>
                </button>
                <button routerLink="/" mat-raised-button color="primary">
                  <mat-icon>assignment_return</mat-icon> Retourner au catalogue
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
