.modal-dialog{
  width: 100%;
}
.pre-cost {
  text-decoration: line-through;
  color: #a5a5a5;
}

.modal-title {
  font-size: 18px;
}

.product_content{
  font-size: 15px;
  line-height: 1.8;
}

.modal-title{
  font-weight: bold;
}

button{
  margin-right: 10px;
}
