img{
  margin: 0 10px 10px 10px;
  width: calc(100% - 20px);
}

img:hover{
  cursor: pointer;
}

.mat-card-title{
  font-size: 16px;
}

button {
  font-size: 13px;
  padding-inline: 10px;
  height: auto;
}

.text-oneline {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-card-content{
  margin-bottom: 0px;
}

.mat-card-actions{
  display: flex;
  flex-wrap: nowrap;
}
