  <mat-card class="mat-elevation-z4"> 
    <mat-card-title class="text-oneline" (click)="onNavigate(product._id)">{{ product.name }}</mat-card-title>
    <img  mat-card-image [src]="product.image" alt="product's picture" (click)="onNavigate(product._id)"/>
    <mat-card-content>
      <p><em>Prix: {{ product.price }} €</em></p>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="isAdmin"
        (click)="addToCart()"
        mat-raised-button
        color="warn"
        class="text-oneline"
      >
        Ajouter au panier
      </button>
      <button (click)="onNavigate(product._id)" mat-raised-button>
        Détails
      </button>
    </mat-card-actions>
  </mat-card>