.img-container{
  height: 150px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

img{
  width: auto;
  height: 100%;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  text-align: center;
}

img:hover{
  cursor: pointer;
}

.mat-card-title{
  font-size: 16px;
}

button {
  font-size: 13px;
  padding-inline: 10px;
  height: auto;
}

.text-oneline {
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.8;
}

.mat-card-content{
  margin-bottom: 0px;
}

.mat-card-actions{
  display: flex;
  flex-wrap: nowrap;
}
