<mat-toolbar color="default">
  <span class="text-oneline">{{
    currentCategory ? currentCategory.name : "Toutes les catégories"
  }}</span>

  <input
    type="text"
    id="filter"
    placeholder="Rechercher un produit dans le catalogue"
    [(ngModel)]="search"
    (ngModelChange)="searchProducts()"
  />

  <mat-form-field id="products-per-page">
    <mat-label>Nombre de produits par ligne</mat-label>
    <mat-select [(value)]="gridColumns">
      <mat-option [value]="3">3 par ligne</mat-option>
      <mat-option [value]="4">4 par ligne </mat-option>
      <mat-option [value]="5">5 par ligne </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<mat-divider></mat-divider>

<div id="product-catalog" >
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="{{ 1/gridColumns*100 }}" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%"  *ngFor="let product of searchedProducts">
      <app-product-card [product]="product"></app-product-card>
    </div>
  </div>
</div>
